{# MainBundle/Resources/views/base.html.twig #}
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Home</title>
        {% block stylesheets %}
        <link href="{{asset('bundles/main/css/style.css')}}" rel="stylesheet"/>
        <link href="{{asset('bundles/main/css/bootstrap.min.css')}}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        <ul id="top_menu"  >
            <li>
                <a href="{{path('main')}}">Szukaj</a>
            </li>
            <li>
                <a href="{{path('fos_user_registration_register')}}">Rejestracja</a>
            </li>
            <li>
                <a href="{{path('view')}}">Lista</a>
            </li>
            <li>
                <a href="{{path('new_advert')}}">Nowe ogłoszenie</a>
            </li>
            <li>
                <a href="{{path('adverts')}}">Ogłoszenia</a>
            </li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>           
                Zalogowany jako {{ app.user.name}} 
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                   Wyloguj
                </a>               
            </li>
                
            {% else %}
                <li>
                 <a href="{{ path('fos_user_security_login') }}">Zaloguj</a>   
                </li>
                
            {% endif %}
       
           
        </ul>
        <div class="content" id="main_content">
            <div style="float:left; width: 65%">
                {% block content %}{% endblock %}
            </div> 
            <div class="panel panel-default" style="float:left; width: 25%; margin-left: 70px;"> 
                <div class="panel-heading" style="background-color:black; color:white;">Ostatnio dodane ogłoszenia</div>
                <ul class="list-group">
                    {% set adverts = getAdverts() %}
                    {% for row in adverts %}
                        <li class="list-group-item">
                            <a href="{{path('advert',{'id':row.id})}}">{{ row.title }}</a>
                        </li>
                    {% endfor %}
                </ul>

            </div> 
        </div>
</form>
        
    </body>
    
</html>
